html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 1;
}

.logo {
  font-family: 'Satisfy', cursive;
}

.Main-root-1 {
  padding-top: 60px !important;
}

img {
  width: 100%;
}
